{% extends 'base.html.twig' %}

{% block title %}Hello Test2Controller!{% endblock %}

{% block body %}

{# fonction dump #}
{# <pre>
    {{dump(list)}}
</pre> #}

<table>
    <thead>
        <tr>
            <th>Couleur</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for ligne in liste %}
            <tr>
            {# c'est twig {{}} #}
                <td>{{ligne.nom}}</td>
                <td>{{ligne.code}}</td>

            </tr>
            {% endfor %}
    </tbody>
</table>

<hr>

<img src="{{ asset('img/avatar-garçon.jpg') }}" alt="">

{% endblock %}

 {% block header %}Autre Header{% endblock %}
